<launch>
    <arg name="sim" value="true"/>
    <param name="use_sim_time" value="$(arg sim)"/>

    <!-- -for converting the odom msg to tf -->
    <node pkg="utils" type="msg_to_tf" name="msg_to_tf">
        <param name="odometry_topic" value="/odom"/>
    </node>

    <!-- MAPPING -->
    <node pkg="slam_toolbox" type="async_slam_toolbox_node" name="slam_toolbox" output="screen">
        <rosparam command="load" file="$(find mowito_difacto)/config/slam_toolbox_config/slam_toolbox_mapping.yaml" />
    </node>

</launch>
