<launch>
    <!--Load parameters from config files-->
    <node name="lidar_fusion_node" pkg="lidar_fusion" type="lidar_fusion" output="screen">
      <rosparam command="load" file="$(find lidar_fusion)/config/config.yaml" />
    </node>
     <!--Uncomment to test cloud fusion with other node cloud output-->
    <!-- <node name="lidar_fusion_node2" pkg="lidar_fusion" type="lidar_fusion" output="screen">
      <rosparam command="load" file="$(find lidar_fusion)/config/config_alt.yaml" />
    </node> -->
</launch>
