<launch>
    <!--Load parameters from config files-->
    <node name="lidar_fusion_node" pkg="lidar_fusion" type="lidar_fusion" output="screen">
      <rosparam command="load" file="$(find lidar_fusion)/config/config.yaml" />
    </node>
     <!--Load parameters from config files-->
    <node name="lidar_fusion_node2" pkg="lidar_fusion" type="lidar_fusion" output="screen">
      <rosparam command="load" file="$(find lidar_fusion)/config/config_2.yaml" />
    </node>
</launch>
