<launch>
    <!-- -serial port of PLC -->
    <arg name="plc_ip_addr" default="192.168.0.123"/>
    <!-- arguments for the lidar -->
    <arg name="scanner_ip" default="10.0.10.9"/>
    <arg name="scanner_frame_id" default="scan"/>

    <!-- static transform between laser and the robot-->
    <node pkg="tf" type="static_transform_publisher" name="base_2_laser" args="0 0 0 0 0 0 base_link $(arg laser_frame) 100"/>
    
    <!-- actual rosbot sensors -->
    <!-- PLC controller-->
    <include file="$(find mowito_difacto)/launch/secondary_launch/start_rucha_hardware.launch">
        <arg name="plc_ip_addr" value="$(arg plc_ip_addr)"/>
        <arg name="scanner_ip" value="$(arg scanner_ip)"/>
        <arg name="frame_id" default="$(arg scanner_frame_id)"/>
    </include>


    <!-- MAPPING -->
    <node pkg="slam_toolbox" type="async_slam_toolbox_node" name="slam_toolbox" output="screen">
        <rosparam command="load" file="$(find mowito_difacto)/config/slam_toolbox_config/slam_toolbox_mapping.yaml" />
    </node>

 
</launch>
