<launch>

    <arg name="scan_topic" default="/scan" /> 
    <arg name="laser_frame" default="scan" />
    <arg name="odom_frame" default="odom" />
    <arg name="base_frame" default="base_link" />
    <arg name="map_frame" default="map" />

    <!-- -serial port of PLC -->
    <arg name="plc_ip_addr" default="192.168.0.123"/>
    <!-- arguments for the lidar -->
    <arg name="scanner_ip" default="10.0.10.9"/>
    <arg name="scanner_frame_id" default="scan"/>

    <!-- actual rosbot sensors -->
    <include file="$(find mowito_difacto)/launch/secondary_launch/start_rucha_hardware.launch">
        <arg name="plc_ip_addr" value="$(arg plc_ip_addr)"/>
        <arg name="scanner_ip" value="$(arg scanner_ip)"/>
        <arg name="frame_id" default="$(arg scanner_frame_id)"/>
    </include>


    <!-- NAVIGATION -->

    <include file="$(find mowito_difacto)/launch/secondary_launch/start_mw_mapping.launch">
        <arg name="scan_topic" value="$(arg scan_topic)" /> 
        <arg name="laser_frame" value="$(arg laser_frame)" />
        <arg name="odom_frame" value="$(arg odom_frame)" />
        <arg name="base_frame" value="$(arg base_frame)" />
        <arg name="map_frame" value="$(arg map_frame)" />
    </include>

 
</launch>
