<launch>

    <arg name="scan_topic" default="/scan" /> 
    <arg name="laser_frame" default="scan" />
    <arg name="odom_frame" default="odom" />
    <arg name="base_frame" default="base_link" />
    <arg name="map_frame" default="map" />
    <arg name="cartographer" default="false" />
    <arg name="respawn" default="true"/>
    <arg name="debug" default="false"/>

    <!-- -serial port of PLC -->
    <arg name="plc_ip_addr" default="192.168.0.123"/>
    <!-- arguments for the lidar -->
    <arg name="scanner_ip" default="10.0.10.9"/>
    <arg name="scanner_frame_id" default="/scan"/>

    <!-- humanoid hardware-->
    <include file="$(find mowito_difacto)/launch/secondary_launch/start_rucha_hardware.launch">
        <arg name="plc_ip_addr" value="$(arg plc_ip_addr)"/>
        <arg name="scanner_ip" value="$(arg scanner_ip)"/>
        <arg name="frame_id" default="$(arg scanner_frame_id)"/>
    </include>

    <!-- mapping node-->
    <include file="$(find mowito_difacto)/launch/secondary_launch/start_mw_mapping.launch">
        <arg name="scan_topic" value="/scan" /> 
        <arg name="laser_frame" value="laser" />
        <arg name="odom_frame" value="odom" />
        <arg name="base_frame" value="base_link" />
        <arg name="map_frame" value="map" />
    </include>


    <!-- nav server-->
    <include file="$(find mowito_difacto)/launch/secondary_launch/start_nav_server.launch">
        <arg name="mission_executive_config" value="$(find mowito_difacto)/config/mission_executive_config/mission_executive_params.yaml"/>
        <arg name="respawn" value="$(arg respawn)"/>
        <arg name="gp_debug" value="$(arg debug)"/>
        <arg name="ctrl_debug" value="$(arg debug)"/> 
        <arg name="rcvr_debug" value="$(arg debug)"/>  
    </include>

</launch>
